* {
  margin: 0;
  padding: 0;
}


html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px ----> 100% = 16px */
}

body {
  padding: 2rem;
  background-color: grey;
}

h1 {
  font-size: 2rem;
  color: white;
}